---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Javascript from "./icons/javascript.astro"
import Html from "./icons/html.astro"
import CSS from "./icons/CSS1.astro"
import Python from "./icons/python.astro"
import React from "./icons/react.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#61DAFB] text-black",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400 text-black",
    icon: Javascript,
  },
  HTML: {
    name: "HTML",
    class: "bg-orange-600 text-white",
    icon: Html,
  },
  CSS: {
    name:"CSS",
    class: "bg-blue-500 text-white",
    icon: CSS,
  },
  PYTHON: {
    name: "Python",
    class: "bg-yellow-400 text-black",
    icon: Python,
  },
  STREAMLIT: {
    name: "Streamlit Python UI",
    class: "text-white",
    icon: Python,
  },
  PANDAS: {
    name: "Pandas Python library",
    class: "text-white",
    icon: Python,
  },
  PLOTLY: {
    name: "Plotly Python library",
    class: "text-white",
    icon: Python
  },
  NEAT: {
    name: "NEAT Algorithm",
    class: "bg-green-600 text-white",
    icon: Python
  },
  PYGAME: {
    name: "Pygame",
    class: "bg-blue-600 text-white",
    icon: Python
  },
  TENSORFLOW: {
  name: "TensorFlow Python library",
  class: "bg-[#FF6F00] text-white",
  icon: Python
  },
  NUMPY: {
    name: "Numpy Python library",
    class: "bg-[#013243] text-white", 
    icon: Python
  },
  OBJECTDETECTIONAPI_TF: {
    name: "Object Detection API de TensorFlow",
    class: "bg-[#FFA000] text-black", 
    icon: Python
  },
  XGBOOST: {
    name: "XGBoost",
    class: "bg-cyan-700 text-white",
    icon: Python
  },
  YFINANCE: {
    name: "yfinance",
    class: "bg-gray-600 text-white",
    icon: Python
  },
}
const PROJECTS = [
  {
    title: "Flappy Bird AI con NEAT - Inteligencia Artificial que aprende a jugar Flappy Bird",
    description:
      "Implementación de una IA que aprende a jugar Flappy Bird usando el algoritmo NEAT (NeuroEvolution of Augmenting Topologies). La red neuronal recibe 3 entradas (posición Y del pájaro, distancia al hueco y distancia al borde inferior de tubería) y decide si saltar o no. Incluye entrenamiento con población de 20 individuos por generación, visualización en tiempo real del proceso de aprendizaje y interfaz web para demostración.",
    github: "https://github.com/Sebastian-hass/flappi-bird_machine-learning",
    image: "/projects/Flappy_bird_NEAT.png",
    tags: [TAGS.PYTHON, TAGS.NEAT, TAGS.PYGAME]
  },
  {
  title: "Detector de Lengua de Señas en Tiempo Real - Visión por Computadora con TensorFlow",
  description:
    "Proyecto completo que implementa un sistema de detección de lengua de señas en tiempo real usando la TensorFlow Object Detection API. Incluye flujo completo de trabajo: anotación, conversión de datos, entrenamiento, y detección en vivo por webcam.",
  github: "https://github.com/Sebastian-hass/RealTimeSignLangugeDetection.git",
  image: "/projects/sign_language_detector.webp", 
  tags: [TAGS.PYTHON, TAGS.TENSORFLOW, TAGS.NUMPY, TAGS.OBJECTDETECTIONAPI_TF]
  },
  {
    title: "Predictor del S&P 500 con Machine Learning y Streamlit",
    description:
      "Modelo de Machine Learning (XGBoost) que predice la dirección diaria del índice S&P 500. El modelo se entrena con datos históricos enriquecidos con indicadores del mercado japonés y tasas de interés de EE. UU. Incluye un riguroso backtesting y una aplicación web interactiva construida con Streamlit para visualizar la predicción más reciente.",
    link: "https://s-p500-prediction-ml-model-kqrumr9rtexixf7bfhvnga.streamlit.app/", 
    github: "https://github.com/Sebastian-hass/S-P500-Prediction-ML-model.git",
    image: "/projects/app_prediccionS&P500_ML.png",
    tags: [TAGS.PYTHON, TAGS.XGBOOST, TAGS.PANDAS, TAGS.YFINANCE, TAGS.STREAMLIT]
  },
  {
  title: "Simple Finance App - Dashboard interactivo de finanzas personales",
  description:
    "Una aplicación de finanzas personales construida con Streamlit, que permite cargar y categorizar transacciones financieras desde un archivo CSV. Incluye gráficos interactivos y una tabla para analizar los ingresos y gastos por categoría.",
  link: "https://simple-finance-app-hc6syfp5bvtukaczeztxdi.streamlit.app/", 
  github: "https://github.com/Sebastian-hass/simple-finance-app.git", 
  image: "/projects/finance_app.png",
  tags: [TAGS.PYTHON, TAGS.STREAMLIT, TAGS.PANDAS, TAGS.PLOTLY]
  },
  {
    title: "Crazy scroll - Una página web con una animación de scroll realista",
    description :
      "Una página web hecha solo con html y javascript. Sin frameworks ni librerías. Con animación realista de scroll diseño minimilaista.",
    link: "https://sebastian-hass.github.io/Scrollanimation/",
    github: "https://github.com/Sebastian-hass/Scrollanimation.git",
    image: "/projects/crazy_scroll.png",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML],
  },
  {
    title: "Django REST API - BlogPosts",
    description:
    "Una API RESTful construida con Django y Django REST Framework que permite gestionar publicaciones de blog (CRUD). Incluye serialización, vistas genéricas y despliegue en Render con configuración optimizada para producción.",
    link: "https://django-api-nqex.onrender.com/blogposts/",
    github: "https://github.com/Sebastian-hass/Django_API.git",
    image: "/projects/Django-API.png",
    tags: [TAGS.PYTHON, TAGS.JAVASCRIPT, TAGS.CSS],
  },
  {
    title: "React Movie App - Aplicación de películas con React",
    description:
      "Aplicación web construida con React.js que permite buscar películas por nombre utilizando la API de TMDB. Incluye una sección de favoritos gestionada con Context API y persistida en localStorage. Cuenta con diseño responsive y está desplegada en Vercel.",
    link: "https://react-movie-app-virid-psi.vercel.app/",
    github: "https://github.com/Sebastian-hass/react-movie-app.git",
    image: "/projects/react-movie-project.png",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.CSS],
  },
  {
    title: "Frontend website - un sitio web frontend con html, css y js para un agente inmobiliario",
    description:
      "Un sitio web frontend con html, css y js para un agente inmobiliario. Diseño minimalista y moderno.",
    link: "https://sebastian-hass.github.io/Web-Agente-inmobiliario/",
    github: "https://github.com/Sebastian-hass/Web-Agente-inmobiliario.git",
    image: "/projects/agente_inmo.png",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS],
  },
  

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



